.header {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    background-color: #1e1e1e;
    flex-direction: column;
    gap: 17px;
}
.title {
    font-size: 28px;
    color: #ffba42;

}
.date {
    font-size: 16px;
    color: #fdfd58;
}