.header {
    background-color: #222; /* Темный фон для заголовка и подвала */
    color: #fff; /* Светлый текст */
    padding: 1rem 0;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 17px;
}
.title {
    font-size: 28px;
    color: #ffba42;

}
.date {
    font-size: 16px;
    color: #fdfd58;
}