.search {
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-bottom: 15px;
}

.form {
    background-color: white;
    border-radius: 12px;
}

.input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    outline: none;
}