.banner {
    width: 100%;
    column-gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.description {
    width: 40vw;
    color: #9b9d9d;
}
.views {
    color: #6c7072;
}
.chapter {
    color: gray;
}

a {
    color: #f2f4f5;
}